
Django==4.2.2
djangorestframework==3.14.0
frozenlist==1.3.3
greenlet==2.0.2
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
mysqlclient==2.2.0
numexpr==2.8.4
packaging==23.1
Pillow==10.0.0
pydantic==1.10.8
pytz==2023.3
PyYAML==6.0
requests==2.31.0
SQLAlchemy==2.0.15
sqlparse==0.4.4
tenacity==8.2.2
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
yarl==1.9.2
